
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli-Regular.eot');
  src: local(''), url('fonts/Muli-Regular.woff') format('woff'), url('fonts/Muli-Regular.ttf') format('truetype'), url('fonts/Muli-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli-Light.eot');
  src: local('Muli-Light'), url('fonts/Muli-Light.woff') format('woff'), url('fonts/Muli-Light.ttf') format('truetype'), url('fonts/Muli-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: local('PlayfairDisplay-Regular'), url('fonts/PlayfairDisplay-Regular.woff') format('woff'), url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('fonts/PlayfairDisplay-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font Icons
@font-face {
  font-family: 'Icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icomoon-"]:before {
  font-family: 'Icomoon', sans-serif;
}
.icomoon-email:before {
  content: "\e900";
}
.icomoon-github:before {
  content: "\e901";
}
.icomoon-linkedin:before {
  content: "\e902";
}
.icomoon-twitter:before {
  content: "\e903";
}
.icomoon-resume:before {
  content: "\e905";
}
.icomoon-map-marker:before {
  content: "\e904";
}
.icomoon-link:before {
  content: "\e906";
}
.icomoon-download:before {
  content: "\e907";
}
.icomoon-slack:before {
  content: "\e908";
}
