$main-colour      : #80D6FF;
$secondary-colour : white;
$accent-colour    : #00ADFF;

$text-dark        : #383838;
$text-light       : white;

$mobile: 600px;
$tablet: 900px;
$desktop: 1600px;

$sans: "Muli", Tahoma, Verdana, Arial, sans-serif;
$serif: "Playfair", serif;
$mono: "Courier New", monospace;
